# Unreal Engine generated
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Platforms/*/Binaries/
Platforms/*/Intermediate/

# IDE
.vs/
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# OS
Thumbs.db
.DS_Store

# Local editor state
*.log
